.App {
  text-align: center;
  background: #eeeeee;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.form-input {
  padding: 1rem;
  border: none;
  margin-right: 1rem;
}

.form-input:focus {
  outline: none;
}

.form-btn {
  background: #6fb2d2;
  padding: 1rem;
  border: none;
  color: white;
}

.form-btn:hover {
  cursor: pointer;
}

.result {
  background: white;
  padding: 1rem;
}

.error {
  color: #ff1818;
  letter-spacing: 0.1rem;
}

.form-input,
.error,
.result,
.form-btn {
  font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  .form-input,
  .error,
  .result,
  .form-btn {
    font-size: 1rem;
  }
}
